<!-- Item -->
<tr>
    <td>
        <a href="#" class="fw-bold"><%= sn %></a>
    </td>
    <td>
        <span class="fw-bold"><%= get(role?.name) %></span>
    </td>
    <td><span class="fw-bold"><%= get(role?.slug) %></span></td>
    <td>
        <div class="btn-group">
            <div class=" py-0">
                <% if(hasPermission(loggedInUser, 'roles:edit')) { %>
                    <a class="dropdown-item" href="/roles/<%= get(role?.id) %>"><span class="fas fa-edit me-2"></span>Edit</a>
                <% } %>
                <% if(hasPermission(loggedInUser, 'roles:delete')) { %>
                    <form action="/roles/<%= get(role?.id) %>?_method=DELETE" method="post">
                        <button type="submit" class="dropdown-item text-danger rounded-bottom" href="#"><span class="fas fa-trash-alt me-2"></span>Remove</button>
                    </form>
                <% } %>
            </div>
        </div>
    </td>
</tr>
