<!-- Item -->
<tr>
    <td>
        <a href="#" class="fw-bold"><%= sn %></a>
    </td>
    <td>
        <span class="fw-bold"><%= get(user?.firstName) + ' ' + get(user?.lastName) %></span>
    </td>
    <td><span class="fw-bold"><%= get(user?.gender, "N/A") %></span></td>
    <td><span class="fw-bold"><%= exists(user?.dob) ? formatDate(user.dob): 'N/A' %></span></td>
    <td><span class="fw-bold"><%= get(user?.mobileNumber, "N/A") %></span></td>
    <td><span class="fw-bold"><%= get(user?.email, "N/A") %></span></td>
    <td><span class="fw-bold text-<%= get(user?.status) === "active" ? "success": "danger" %>"><%= get(user?.status?.toUpperCase()) %></span></td>
    <td>
        <div class="btn-group">
            <button
                class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                <span class="icon icon-sm">
                    <span class="fas fa-ellipsis-h icon-dark"></span>
                </span>
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu py-0">
                <a class="dropdown-item rounded-top" href="#"><span class="fas fa-eye me-2"></span>View Details</a>
                <a class="dropdown-item" href="#"><span class="fas fa-edit me-2"></span>Edit</a>
                <a class="dropdown-item text-danger rounded-bottom" href="#"><span class="fas fa-trash-alt me-2"></span>Remove</a>
            </div>
        </div>
    </td>
</tr>
