<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('common/head') %> 
</head>
<body>
    <%- include('common/partials/_vendor-js') %>
    <%- include('common/message') %>
    <%- include('common/sidebar') %>
    <main class="content">
        <%- include('common/navbar') %> 
        <%- include('common/error') %>
        <%- include('common/errors') %>
        <%- include('common/header') %> 
        <%- include(page) %> 
    </main>
</body>
</html>