<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('common/head') %> 
</head>
<body>
    <%- include('common/partials/_vendor-js') %>
    <%- include('common/error') %>
    <%- include('common/errors') %>
    <%- include('common/message') %>
    <%- include(page) %> 
    <script src="/static/assets/bundle.js"></script>
</body>
</html>