<form action="<%= get(locals.formSubmitUrl) %>" method="<%= get(locals.formMethod) || 'POST' %>">
    <!-- Form -->
    <div class="mb-4">
        <label for="email">Your Email</label>
        <div class="input-group">
            <input type="email" class="form-control" placeholder="example@company.com" id="email" required disabled
                value="<%= get(locals.email) %>"
            >
        </div>  
    </div>
    <!-- End of Form -->
    <!-- Form -->
    <div class="form-group mb-4">
        <label for="password">New Password</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon2">
                <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
            </span>
            <input type="password" placeholder="Password" class="form-control" id="password" required name="password"
            value="<%= getUserInput(locals.inputData, 'password') %>">
            <%- include('../common/invalid-feedback', {
                errorMessage: getErrorMessage(locals.mappedErrors, 'password')
            }) %>
        </div>  
    </div>
    <!-- End of Form -->
    <!-- Form -->
    <div class="form-group mb-4">
        <label for="confirm_password">Confirm Password</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon2">
                <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
            </span>
            <input type="password" placeholder="Confirm Password" class="form-control" id="confirm_password" required name="confirmPassword"
            value="<%= getUserInput(locals.inputData, 'confirmPassword') %>">
            <%- include('../common/invalid-feedback', {
                errorMessage: getErrorMessage(locals.mappedErrors, 'confirmPassword')
            }) %>
        </div>  
    </div>
    <!-- End of Form -->
    <div class="d-grid">
        <button type="submit" class="btn btn-gray-800">Reset password</button>
    </div>
</form>