<% 
    let total = get(locals.data?.total) || 0;
    let page = get(locals.data?.page) || 1;
    let take = get(locals.data?.take) || 0;
    let totalPages = get(locals.data?.totalPages) || 1;
    let totalItems = exists(locals.data?.data) ? locals.data.data.length: 0;
    let from = totalItems === 0 ? 0: ((page - 1) * take) + 1;
    let to = totalItems === 0 ? 0: from + totalItems - 1;
    let newUrl = get(locals?.url);
    if(!objectExists(locals.query)) {
        newUrl = url + '?page={{newPageNumber}}';
    } else if(exists(locals.query?.page)) {
        newUrl = newUrl.replace(`page=${locals.query.page}`, `page={{newPageNumber}}`)
    } else {
        newUrl = url + '&page={{newPageNumber}}';
    }
%>
<nav aria-label="Page navigation">
    <ul class="pagination mb-0">
        <li class="page-item  <%= page === 1 ? "disabled": "" %>">
            <a class="page-link" href="<%= newUrl.replace(`{{newPageNumber}}`, page - 1) %>">Previous</a>
        </li>
        <% let i = page > 5 ? page - 4: 1 %>
        <% for(i; i <= (page + 4) && i <= totalPages; i++) { %>
            <li class="page-item <%= page === i ? 'disabled': '' %>">
                <a class="page-link <%= page === i ? 'active': '' %>" href="<%= newUrl.replace(`{{newPageNumber}}`, i) %>"><%= i %></a>
            </li>
        <% } %>
        <li class="page-item <%= page >= totalPages ? "disabled": "" %>">
            <a class="page-link" href="<%= newUrl.replace(`{{newPageNumber}}`, page + 1) %>">Next</a>
        </li>
    </ul>
</nav>
<div class="fw-normal small mt-4 mt-lg-0">Showing <b><%= from %> - <%= to %> items</b> out of <b><%= total %></b> entries</div>
