<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
    <a class="navbar-brand me-lg-5 pe-none">
        <span class="sidebar-icon">
            <img src="/static/uploads/logo/<%= get(locals.cmsConfig?.Logo) || 'logo.png' %>" alt="Logo" />
        </span>
    </a>
    <div class="d-flex align-items-center">
        <button
            class="navbar-toggler d-lg-none collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
        <ul class="nav flex-column pt-3 pt-md-0">
            <li class="nav-item">
                <a href="#" class="nav-link d-flex align-items-center disabled">
                    <span class="sidebar-icon">
                        <img src="/static/uploads/logo/<%= get(locals.cmsConfig?.Logo) || 'logo.png' %>" alt="Logo" />
                    </span>
                </a>
            </li>
            <% Object.keys(locals.cmsModulesConfig).forEach(key => { %> 
                <% const module = locals.cmsModulesConfig[key]; %>
                <% if(!module.hasSubmodules) { %>
                    <% if(hasPermission(locals.user, module.default)) { %>
                        <li class="nav-item <%= key === locals.module ? 'active': '' %>">
                            <a href="<%= module.route %>" class="nav-link">
                                <span class="sidebar-icon">
                                    <%- module.icon %> 
                                </span>
                                <span class="sidebar-text"><%= module.name %></span>
                            </a>
                        </li>
                    <% } %>
                <% } else { %>
                    <li class="nav-item <%= key === locals.module ? 'active': '' %>">
                        <span
                            class="nav-link collapsed d-flex justify-content-between align-items-center"
                            data-bs-toggle="collapse"
                            data-bs-target="#submenu-app"
                        >
                            <span>
                                <span class="sidebar-icon">
                                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            fill-rule="evenodd"
                                            d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z"
                                            clip-rule="evenodd"
                                        ></path>
                                    </svg>
                                </span>
                                <span class="sidebar-text"><%= module.name %></span>
                            </span>
                            <span class="link-arrow">
                                <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        fill-rule="evenodd"
                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd"
                                    ></path>
                                </svg>
                            </span>
                        </span>
                        <% module.subModules.forEach(subModule => { %>
                            <% if(hasPermission(locals.user, module.default)) { %>
                            <div class="multi-level collapse" role="list" id="submenu-app" aria-expanded="false">
                                <ul class="flex-column nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="<%= subModule.route %>">
                                            <span class="sidebar-text"><%= subModule.name %></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <% } %>
                        <% }) %>
                    </li>
                <% } %> 
            <% }) %>
            
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
            <li class="nav-item">
                <a
                    href="https://sonish777.github.io/t-express/"
                    target="_blank"
                    class="nav-link d-flex align-items-center"
                >
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </span>
                    <span class="sidebar-text">Documentation <span class="badge badge-sm bg-secondary ms-1 text-gray-800">v1.0</span></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
