<!-- Item -->
<tr>
    <td>
        <a href="#" class="fw-bold"><%= sn %></a>
    </td>
    <td>
        <span class="fw-bold"><%= get(role?.name) %></span>
    </td>
    <td><span class="fw-bold"><%= get(role?.slug) %></span></td>
    <td>
        <div class="btn-group">
            <div class=" py-0">
                <% if(hasPermission(loggedInUser, 'roles:edit') && role?.slug !== 'super-admin') { %>
                    <a class="btn btn-sm btn-primary" href="/roles/<%= get(role?.id) %>">Edit</a>
                <% } %>
                <% if(hasPermission(loggedInUser, 'roles:delete') && role?.slug !== 'super-admin') { %>
                    <%- include('../../common/delete-modal', {
                        modalId: `deleteRole_${get(role?.id)}`,
                        title: 'Delete Role',
                        body: 'Are you sure you want to delete this role?',
                        deleteActionUrl: `/roles/${role?.id}`,
                        buttonText: 'Yes'
                    }) %>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteRole_<%= get(role?.id) %>">Delete</button>
                <% } %>
            </div>
        </div>
    </td>
</tr>
